.env
.env.*
__pycache__/
*.pyc
.venv/
venv/
*.ogg
*.mp3
*.wav
*.flac
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.eggs/
ffmpeg.exe
ffmpeg.exe
*.exe
ffmpeg.zip
ffmpeg-n6.0-latest-win64-gpl-6.0.zip
ffmpeg-n6.0-latest-win64-gpl-6.0.exe
ffmpeg/
ffmpeg